* {
    margin: 0;
    font-family: 'Secular One', sans-serif;
    background-color: rgb(231, 222, 210);
    padding: 5px;
    overflow-x: hidden;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.classement {
    display: grid;
    margin-top: 10px;
}
table,
td {
    border: 1px solid #333;
}
tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}