* {
    margin: 0;
    font-family: 'Secular One', sans-serif;
    background-color: rgb(231, 222, 210);
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.input_data {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.flexA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.table {
    margin-top: -5px;
    width: 50%;
    padding: 2px;
    border: 1px solid black;
}
.reset {
    margin-top: 10px;
    justify-content: center;
    width: 50%;
}

.btn-check {
    visibility: hidden;
    margin-top: 10px;
    justify-content: center;
    width: 50%;
}
.team_B {
    display: none;
    flex-direction: column;
}

.flexB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.btn-checkB {
    visibility: hidden;
    margin-top: 10px;
    justify-content: center;
    width: 50%;
}
.animation_game {
    display: none;
    flex-direction: column;
}

.title_lastsection {
    display: flex;
    justify-content: center;
}
.canvas_simu {
    border: 1px solid black;
}
.route {
    overflow: hidden;
    background-color: silver;
    width: auto;
    height: 400px;
}
.teamA, .teamB {
    width: auto; 
    height: 50%; 
}
  .teamA {
    overflow: hidden;
    background-color: silver;
    right: 0; 
} 
.teamB {
    overflow: hidden;
    background-color: silver;
    right: 0; 
}
.voiture_tintin {
    height: 250px;
}
.voiture_eau {
    height: 250px;
}
.buttonLast {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.voiture_tintin_vue_de_haut {
    padding: 0px;
    height: 200px;
}
.voiture_eau_vue_de_haut {
    padding: 0px;
    height: 200px;
}
.center-band {
    display: flex;
    padding: 0px; 
    background-color: white;
    width: 100%;
    height: 5px; 
}
.buttonLast {
    display: none;
}
.buttonAnimation {
    display: flex;
    justify-content: center;
}