* {
    margin: 0;
    font-family: 'Secular One', sans-serif;
    background-color: rgb(231, 222, 210);
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.input_data {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.flexA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.table {
    margin-top: -5px;
    width: 50%;
    padding: 2px;
    border: 1px solid black;
}
.reset {
    margin-top: 10px;
    justify-content: center;
    width: 50%;
}

.btn-check {
    visibility: hidden;
    margin-top: 10px;
    justify-content: center;
    width: 50%;
}
.team_B {
    display: none;
    flex-direction: column;
}

.flexB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.btn-checkB {
    visibility: hidden;
    margin-top: 10px;
    justify-content: center;
    width: 50%;
}
